html, body {
  height: 100%;
  margin: 0; 
  font-family: 'Open Sans', sans-serif; 
}

body {
  color: #212121; 
  background: linear-gradient(45deg, #000f5c, #3f5ffd, #26ab95, #ffffff);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

.navbar-brand, .nav-link {
  color: #739eb0; 
}

.navbar-light .navbar-toggler {
  border-color: rgba(115,158,176,0.5);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml, /* SVG personalizado si es necesario */");
}

.banner img {
  max-height: 400px; 
  object-fit: cover; 
  width: 100%; 
}


#fun_facts, #Conoce_más {
  text-align: left;
}

#fun_facts + p, #Conoce_más + p {
  font-size: 1rem;
  line-height: 1.5; 
  max-width: 540px; 
}

.img-fact {
  max-width: 100%; 
  border: 3px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}


@keyframes color {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@media (min-width: 992px) {
  .img-fact {
    max-width: 50%; 
  }
}

.image-container {
  text-align: center; 
  margin: 0 auto; 
}

.img-reduced {
  max-width: 50%; 
  height: auto; 
}


/* GALERIA */


#sharkieCarousel {
  margin-top: 20px; 
  max-width: 540px; 
  margin-left: auto;
  margin-right: auto;
}

.carousel-item img {
  max-height: 650px; 
  object-fit: cover; 
}

@media (max-width: 576px) {
  #sharkieCarousel {
    max-width: 100%; 
  }
}

.pilar {
  flex: 1; 
  padding: 0 10px; 
}

.pilar img {
  max-width: 50%; 
  height: 650px;
}